@using eCommerce.Entities.VMs
@model ProductVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div>
</div>


<div style="text-align:center;">

    @if (Model.Product.Id <= 0)
    {
        <h2><i class="fa-solid fa-plus"></i> Ürün Ekle </h2>
    }
    else
    {
        <h2><i class="fa-solid fa-pen-to-square"></i> Ürün Güncelle </h2>
    }

   

</div>

<form method="post" enctype="multipart/form-data">

    <input asp-for="Product.Id" type="hidden" />
    <input asp-for="Product.ProductImage" type="hidden" />
    
    @if(Model != null)
    {
        <div class="col-6">
            <img src="@Model.Product.ProductImage" width="220px" />
        </div>
    }
    <br />


    <div class="row my-1">
        <h4>Ürün Adı</h4>
        <input asp-for="Product.ProductName" class="form-control" />
    </div>
    <br />
    <div class="row my-1">
        <h4>Ürün Açıklaması</h4>
        <textarea asp-for="Product.ProductDesc" class="form-control"></textarea>
    </div>
    <br />
    <div class="row my-1">
        <h4>Ürün Fiyatı</h4>
        <input asp-for="Product.ProductPrice" class="form-control" />
    </div>
    <br />
    <div class="row my-1">
        <h4>Ürün Kategorisi</h4>
        <select asp-for="Product.CategoryId" class="form-control" asp-items="@Model.ListCategory">
            <option disabled selected>Kategori Seçiniz..</option>
        </select>
    </div>
    <br />
    <div class="row my-1">
        <h4>Ürün Resmi</h4>
        <input type="file" id="file" name="file" accept="image/*"  class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">@(@Model.Product.Id <= 0 ? "Ekle" : "Güncelle")</button>


</form>

